<?xml version="1.0" encoding="UTF-8"?>
<!-- *******************Other interface's config import*************************  -->
<!--
<!DOCTYPE web-app>
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="ctiproxy" version="2.5">
  <servlet>
    <servlet-name>vxml</servlet-name>
    <servlet-class>test.VxmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vxml</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>